[Unit]
Description=xremap

[Service]
Restart=always
ExecStart=/home/rca/.cargo/bin/xremap /home/rca/.config/xremap/config.yml

[Install]
WantedBy=default.target
